@import 'style/_variables.scss';


.Button {
  position: relative;
  display: inline-block;
  padding: $spacing-base;
  background:     $btn-default-bg;
  color:          $btn-default-color;
  font-family:    $font-family-sans;
  font-size:      1em;
  font-weight:    $btn-font-weight;
  letter-spacing: $btn-letter-space;
  line-height:    1;
  text-align:     center;
  border:        none;
  border-radius: $border-radius-large;
  outline: none;
  cursor: pointer;
  user-select: none;
  will-change: opacity, background;
  transition:  opacity .2s ease-out,
               background .2s ease-out;

  @media (min-width: $screen-md) {
    padding: $spacing-base $spacing-large;
    font-size: 1.125em;
  }

  &[disabled] {
    opacity: .5;
    cursor: auto;
  }

  &:active {
    top: 2px;
  }

  &--startstop {
    width: 50%;
    color: $btn-alt-color;
    text-transform: uppercase;
  }

  &--reset { 
    width: 35%;
  }

  &--start { background: $start; }
  &--stop {  background: $stop; }
}