.Button {
  position: relative;
  display: inline-block;
  padding: 1.25rem;
  background: #19191f;
  color: #464658;
  font-family: Rubik, sans-serif;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1;
  text-align: center;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  user-select: none;
  will-change: opacity, background;
  transition: opacity .2s ease-out, background .2s ease-out; }
  @media (min-width: 768px) {
    .Button {
      padding: 1.25rem 1.875rem;
      font-size: 1.125em; } }
  .Button[disabled] {
    opacity: .5;
    cursor: auto; }
  .Button:active {
    top: 2px; }
  .Button--startstop {
    width: 50%;
    text-transform: uppercase; }
  .Button--reset {
    width: 35%; }
  .Button--start {
    background: #69f0ae; }
  .Button--stop {
    background: #ff5252; }
