.TimeDisplay {
  display: flex;
  padding: 1.25rem 0;
  font-family: "Roboto Mono", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-weight: 500; }
  @media (min-width: 768px) {
    .TimeDisplay {
      padding: 1.875rem 0; } }
  .TimeDisplay__main {
    font-size: 3em; }
  .TimeDisplay__lap {
    display: block;
    flex-flow: row nowrap;
    font-size: 1em; }
  .TimeDisplay__prelap {
    color: #ffffff;
    font-family: Rubik, sans-serif;
    font-size: 0.875em;
    opacity: .5; }
