@import 'style/_variables.scss';

.TimeDisplay {
  display: flex;
  padding: $spacing-base 0;
  font-family: $font-family-mono;
  font-weight: 500;

  @media (min-width: $screen-md) {
    padding: $spacing-large 0;
  }

  &__main {
    font-size: $font-size-large;
  }

  &__lap {
    display: block;
    flex-flow: row nowrap;
    font-size: $font-size-base;
  }

  &__prelap {
      color:       $color-text;
      font-family: $font-family-sans;
      font-size:   $font-size-small;
      opacity: .5;
  }
}