@import 'style/_variables.scss';


.List {
  display: flex;
  width: 100%;
  max-width: $screen-md;
  margin:  0;
  padding: $spacing-large;
  list-style: none;

  li {
    display: flex;
    padding-top:    $spacing-small;
    padding-bottom: $spacing-small;
    border-bottom: 1px solid $color-border;
    font-family: $font-family-mono;
    line-height: 1;
    opacity: .8;

    &:last-child {
      border-top: 1px solid $color-border;
    }
  }

  &__number {
    font-family: $font-family-sans;
    opacity: .5;
  }
}