.List {
  display: flex;
  width: 100%;
  max-width: 768px;
  margin: 0;
  padding: 1.875rem;
  list-style: none; }
  .List li {
    display: flex;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid #363644;
    font-family: "Roboto Mono", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    line-height: 1;
    opacity: .8; }
    .List li:last-child {
      border-top: 1px solid #363644; }
  .List__number {
    font-family: Rubik, sans-serif;
    opacity: .5; }
