.List {
  display: flex;
  flex-flow: column-reverse wrap;
  width: 100%;
  max-width: 768px;
  margin: 0;
  padding: 40px;
  list-style: none; }
  .List li {
    display: flex;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #37373a; }
    .List li:last-child {
      padding-top: 12px;
      border-top: 1px solid #37373a; }
  .List__number {
    opacity: .5; }
