@import 'style/_variables.scss';


.Laps {
  position: absolute;
  height: 100%;
  width:  100%;
  color: $color-text;
  overflow: scroll;
  box-sizing: border-box;

  ol {
    display: flex;
    flex-flow: column-reverse wrap;
    margin:  0;
    padding: 40px;
    list-style: none;

    li {
      display: flex;
      justify-content: space-between;
      margin-bottom:  12px;
      padding-bottom: 12px;
      border-bottom: 1px solid $color-border;

      &:last-child {
        padding-top: 12px;
        border-top: 1px solid $color-border;
      }
    }
  }

  &__number {
    opacity: .5;
  }
}