@import 'style/_variables.scss';

.Stopwatch {

  &__clocks {
    display: flex;
    flex-flow:   column wrap;
    align-items: flex-end;
  }

  &__main {
  }

  &__lap {
    display: block;
    flex-flow: row nowrap;
    font-size: .25em;

    & span {
      font-family: sans-serif;
      font-size: .8em;
      color: $color-text;
      opacity: .5;
    }
  }
}