.Stopwatch__clocks {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end; }

.Stopwatch__lap {
  display: block;
  flex-flow: row nowrap;
  font-size: .25em; }
  .Stopwatch__lap span {
    font-family: sans-serif;
    font-size: .8em;
    color: #ffffff;
    opacity: .5; }
