.Controls {
  position: relative;
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 20px;
  background: #fafbfc;
  border-top: 2px solid;
  border-color: #eaeef2;
  box-sizing: border-box; }
  @media (min-width: 512px) {
    .Controls {
      height: 50%; } }
