@import 'style/_variables.scss';

.Controls {
  position: relative;
  display:         flex;
  flex:            1;
  align-items:     flex-start;
  justify-content: space-evenly;
  padding: 20px;
  background: $color-bg;
  border-top:   2px solid;
  border-color: $color-border;
  box-sizing:   border-box;

  @media (min-width: 512px) {
    height:  50%;
  }
}