@import 'style/_variables.scss';
@import 'style/_flex.scss';


* { box-sizing: border-box; }


body {
  position: relative;
  display: block;
  background: $color-bg-black;
  font-family: $font-family-sans;
  font-size:   $font-size-set;
}


a {
  color: currentColor;
  transition: color .2s ease-in-out;

  &:hover {
    color: $start;
  }

  img {
    text-decoration: none;
  }
}


.App {
  position: static;
  min-height: calc(100vh - 70px);
  width:  100%;
  margin-top: 2px;
  border-radius: $border-radius-large $border-radius-large 0 0;

  @media (min-width: $screen-md) {
    height: 100vh;
    margin-top: 0;
    border-radius: 0;
  }

  &__content {
    position: relative;
    display: flex;
    padding-bottom: $spacing-base;
    background-color: $color-bg-dark;
    border-radius: 0 0 $border-radius-large $border-radius-large;

    @media (min-width: $screen-md) {
      height:     calc(100vh - #{$footer-height});
      min-height: 800px;
    }
  }
}


.panel {
  position: relative;
  display: flex;
  flex:    0 1 auto;
  overflow: hidden;

  &--timer { background: $color-bg; }
  &--controls { background: $color-bg-light; }

  &--laps {
    flex: 1 0 auto;
    min-height: 250px;
    background: $color-bg-dark;

    @media (min-width: $screen-md) {
      height:     50vh;
      min-height: 400px;
    }
  }

  &__inner {
    display: flex;
    flex:    1;
    width: 100%;
    color: $color-text;

    &--static {
      position: relative;
      max-width: $screen-md;
      margin: 0 auto;
      padding: $spacing-base;
    }

    &--scrolling {
      position: relative;

      @media (min-width: $screen-md) {
        position: absolute;
        height: 100%;
        overflow-y: scroll;
      }
    }
  }
}


.footer {
  display: flex;
  height:    $footer-height;
  width:     100%;
  max-width: $screen-md;
  margin:  0 auto;
  padding: $spacing-base;
  color: $white;

  &__github {
    display: block;
    width: 32px;

    img {
      display: block;
      height: auto;
      width:  100%;
    }
  }
}
