@import 'style/_variables.scss';
@import 'style/_flex.scss';


* { box-sizing: border-box; }


body {
  position: relative;
  display: block;
  background: $color-bg-black;
  font-family: $font-family-sans;
  font-size:   $font-size-set;
}


.App {
  position: static;
  height: calc(100vh - 120px);
  width:  100%;
  margin-top: 2px;
  border-radius: $border-radius-large;
  overflow: hidden;


  @media (min-width: $screen-md) {
    margin-top: 0;
    border-radius: 0;
  }

  &__content {
    position: relative;
    display: flex;
    min-height: 100%;
    padding-bottom: $spacing-base;
    background-color: $color-bg-dark;
  }
}


.panel {
  position: relative;
  display: flex;
  flex:    0 1 auto;
  overflow: hidden;

  &--timer { background: $color-bg; }
  &--controls { background: $color-bg-light; }

  &--laps {
    flex: 1 0 auto;
    background: $color-bg-dark;
  }

  &__inner {
    display: flex;
    flex:    1;
    width: 100%;
    color: $color-text;

    &--static {
      position: relative;
      max-width: $screen-md;
      margin: 0 auto;
      padding: $spacing-base;
    }

    &--scrolling {
      position: absolute;
      height: 100%;
      overflow: scroll;
    }
  }
}
