.f--column {
  flex-direction: column; }

.f--column-reverse {
  flex-direction: column-reverse; }

.f--row {
  flex-direction: row; }

.f--align-items-start {
  align-items: flex-start; }

.f--align-items-center {
  align-items: center; }

.f--align-items-end {
  align-items: flex-end; }

.f--justify-evenly {
  justify-content: space-evenly; }

.f--justify-center {
  justify-content: center; }

.f--justify-space-between {
  justify-content: space-between; }

* {
  box-sizing: border-box; }

body {
  position: relative;
  display: block;
  background: #000000;
  font-family: Rubik, sans-serif;
  font-size: 16px; }

.App {
  position: static;
  height: calc(100vh - 120px);
  width: 100%;
  margin-top: 2px;
  border-radius: 8px;
  overflow: hidden; }
  @media (min-width: 768px) {
    .App {
      margin-top: 0;
      border-radius: 0; } }
  .App__content {
    position: relative;
    display: flex;
    min-height: 100%;
    padding-bottom: 1.25rem;
    background-color: #19191f; }

.panel {
  position: relative;
  display: flex;
  flex: 0 1 auto;
  overflow: hidden; }
  .panel--timer {
    background: #2b2b36; }
  .panel--controls {
    background: #464658; }
  .panel--laps {
    flex: 1 0 auto;
    background: #19191f; }
  .panel__inner {
    display: flex;
    flex: 1;
    width: 100%;
    color: #ffffff; }
    .panel__inner--static {
      position: relative;
      max-width: 768px;
      margin: 0 auto;
      padding: 1.25rem; }
    .panel__inner--scrolling {
      position: absolute;
      height: 100%;
      overflow: scroll; }
