.f--column {
  flex-direction: column; }

.f--column-reverse {
  flex-direction: column-reverse; }

.f--row {
  flex-direction: row; }

.f--align-items-start {
  align-items: flex-start; }

.f--align-items-center {
  align-items: center; }

.f--align-items-end {
  align-items: flex-end; }

.f--justify-evenly {
  justify-content: space-evenly; }

.f--justify-center {
  justify-content: center; }

.f--justify-space-between {
  justify-content: space-between; }

* {
  box-sizing: border-box; }

body {
  position: relative;
  display: block;
  background: #000000;
  font-family: Rubik, sans-serif;
  font-size: 16px; }

a {
  color: currentColor;
  transition: color .2s ease-in-out; }
  a:hover {
    color: #69f0ae; }
  a img {
    text-decoration: none; }

.App {
  position: static;
  min-height: calc(100vh - 70px);
  width: 100%;
  margin-top: 2px;
  border-radius: 8px 8px 0 0; }
  @media (min-width: 768px) {
    .App {
      height: 100vh;
      margin-top: 0;
      border-radius: 0; } }
  .App__content {
    position: relative;
    display: flex;
    padding-bottom: 1.25rem;
    background-color: #19191f;
    border-radius: 0 0 8px 8px; }
    @media (min-width: 768px) {
      .App__content {
        height: calc(100vh - 60px);
        min-height: 800px; } }

.panel {
  position: relative;
  display: flex;
  flex: 0 1 auto;
  overflow: hidden; }
  .panel--timer {
    background: #2b2b36; }
  .panel--controls {
    background: #464658; }
  .panel--laps {
    flex: 1 0 auto;
    min-height: 250px;
    background: #19191f; }
    @media (min-width: 768px) {
      .panel--laps {
        height: 50vh;
        min-height: 400px; } }
  .panel__inner {
    display: flex;
    flex: 1;
    width: 100%;
    color: #ffffff; }
    .panel__inner--static {
      position: relative;
      max-width: 768px;
      margin: 0 auto;
      padding: 1.25rem; }
    .panel__inner--scrolling {
      position: relative; }
      @media (min-width: 768px) {
        .panel__inner--scrolling {
          position: absolute;
          height: 100%;
          overflow-y: scroll; } }

.footer {
  display: flex;
  height: 60px;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 1.25rem;
  color: #ffffff; }
  .footer__github {
    display: block;
    width: 32px; }
    .footer__github img {
      display: block;
      height: auto;
      width: 100%; }
