body {
  background: #f4f6f8; }

.App {
  position: static;
  height: calc(100vh - 70px);
  width: 100%; }
  @media (min-width: 512px) {
    .App {
      height: 100vh; } }
  .App__content {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    min-height: 100%; }
    @media (min-width: 512px) {
      .App__content {
        flex-flow: row nowrap; } }
  .App__panel {
    position: relative;
    flex: 1 0 100%;
    overflow: hidden; }
    .App__panel--left {
      flex: 0 1 auto; }
    .App__panel--right {
      flex: 2 1 auto; }
    @media (min-width: 512px) {
      .App__panel {
        flex: 1 0 50%;
        overflow: hidden; } }
